.paragraf {
    color: #9E9AA8;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.15px;
    max-width: 500px;
}

.title {
    color: #34313D;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: -2px;
    max-width: 500px;
    margin-bottom: 10px;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.main-content button {
    width: 197px;
    height: 56px;
    border-radius: 28px;
    background: #2BD0D0;
    border: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 38px;
}
.main-image{
    justify-content: flex-end;
}